.text {
    width: 300px;/* 원하는 너비 설정 */
    height: auto;/* 높이값 초기화 */
    line-height: normal;/* line-height 초기화 */
    padding: .2em .2em;/* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    font-family: inherit;/* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 0;/* iSO 둥근모서리 제거 */
    outline-style: none;/* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;/* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

.myButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background: -moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background: -webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background: -o-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background: -ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5', GradientType=0);
    background-color: #79bbff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    padding: 4px 18px;
    margin-left : 5px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background: -moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background: -webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background: -o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background: -ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff', GradientType=0);
    background-color: #378de5;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.sect_sch .sect_schLst {margin-top:10px; border:1px solid #d2d4d9; border-bottom:0;}
.tbl_sch{table-layout:fixed;color:#676767;text-align:center;}/*border-collapse:collapse;border-spacing:0; : common.css에서 이미 포괄 정의*/
.tbl_sch th, .tbl_sch td{border-left:1px solid #d2d4d9; border-bottom:1px solid #d2d4d9;background-color:#fff;}
.tbl_sch thead th{border-bottom:2px solid #757984;color:#3c404a;background-color:#edeef3;}
.tbl_sch thead th:first-child{border-left:none;}
.tbl_sch thead th .status{font-weight:normal;color:#676767}
.tbl_sch tbody th:first-child{border-left:none;}
.tbl_sch tbody th .status{font-weight:normal;color:#a4a7a9}

.sect_ctg_cell{width:150px;}
.sect_sch.ctgNmb04 .sect_ctg_cell{width:400px;}
.tbl_sch.ctg th, .tbl_sch.ctg td, .tbl_sch.tml th, .tbl_sch.tml td{height:40px;}
.tbl_sch .sect_ctg{overflow:hidden;width:100%;height:100%;}
.tbl_sch.ctg{width:100%;}
.tbl_sch.ctg .hd_ctg_scroll{padding:0;height:18px;font-size:0;line-height:1;border-bottom:none;background-color:#edeef3;}
.sect_tml_cell{width:auto;/*width:calc(100% - 150px);*/}
.tbl_sch .sect_tml{overflow:hidden;overflow-x:scroll;width:777px;height:100%;}/*% width값은 상대적이라 반응하지 않음.*/
.sect_sch.ctgNmb04 .tbl_sch .sect_tml{width:527px;}
.tbl_sch .sect_tml.exp{width:1028px;}
.sect_sch.ctgNmb04 .tbl_sch .sect_tml.exp{width:778px;}
.tbl_sch.tml{font-size:12px;font-family:'Malgun Gothic', arial, dotum, gulim;line-height:1.3em;border-spacing:2px;border-color:grey;border-spacing:0;border-collapse:collapse;table-layout:fixed}
.tbl_sch.tml thead th{padding:0 6px;}
.tbl_sch.tml tbody td{}/*width:30px;*/
.tbl_sch.tml tbody td:first-child{border-left:none;}

.tbl_sch .tp_allbg td.stt_off{background-color:#f3f2f6;}
.tbl_sch .tp_allbg td.stt_opt{background-color:#00a0ae;cursor:pointer;}
.tbl_sch .tp_allbg td.stt_prp{background-color:#fdab06;cursor:pointer;}
.tbl_sch .tp_allbg td.stt_rjc{background-color:#737984;cursor:pointer;}

.tbl_sch .tp_bar td .stt_bar{display:block;width:100%;height:20px;background:none;}
.tbl_sch .tp_bar td.stt_off{background-color:#f3f2f6;}
.tbl_sch .tp_bar td.stt_opt .stt_bar{background-color:#00a0ae;cursor:pointer;}
.tbl_sch .tp_bar td.stt_prp .stt_bar{background-color:#fdab06;cursor:pointer;}
